
@{
    ViewBag.Title = "Đổi mật khẩu";
}
<div class="box box-primary">
    <div class="box-body" style="width:700px">
        <form action="~/Account/SavePassword" method="post">
            @Html.ValidationMessage("Error", new { @style = "color:#f00" })
            <input type="hidden" name="username" value="@ViewBag.username" />
            <!--Luu y doi tuong nhap input phai co name-->
                <div class="form-group has-feedback">
                    <input type="password" class="form-control" placeholder="Mật khẩu cũ" name="oldPassword" value="@ViewBag.oldPassword" />
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                    @Html.ValidationMessage("oldPassword", new { @style = "color:#f00" })
                </div>
                <div class="form-group has-feedback">
                    <input type="password" class="form-control" placeholder="Mật khẩu mới" name="newPassword" value="@ViewBag.newPassword" />
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                    @Html.ValidationMessage("newPassword", new { @style = "color:#f00" })
                </div>
                <div class="form-group has-feedback">
                    <input type="password" class="form-control" placeholder="Nhập lại mật khẩu mới" name="newPassword1" value="@ViewBag.newPassword1" />
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                    @Html.ValidationMessage("newPassword1", new { @style = "color:#f00" })
                </div>
                <div class="form-group text-right">
                    <button type="submit" class="btn btn-primary">
                        <i class="fa fa-floppy-o"></i>
                        Lưu dữ liệu
                    </button>
                    <a href="~/Home" class="btn btn-default">
                        Quay lại
                    </a>
                </div>
            @Html.ValidationMessage("success", new { @style = "color:#00f" })
        </form>
    </div>
</div>